@model List<Category>



<div class="container">
    <div class="row pt-4 pb-3 ">
        <div class="col-6">
            <h2> Category List</h2>
        </div>
        <div class="col-6 text-end ">
            <a class="btn btn-success" asp-controller="Category" asp-action="Create">
                <i class="bi bi-plus-circle"></i> Create Category
            </a>
        </div>
    </div>



<table class="table table-striped table-bordered" >
    <thead>
        <tr>
            <th>
                Category Name 
            </th>
            <th>
                Display Order
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
        <tr>
            <td>
                @obj.Name
            </td>
            <td>
                @obj.DisplayOrder
            </td>
        </tr>
        }
     
    </tbody>



    </table>
</div>