@model List<Product>


<div class="card shadow border-1 mt-4">
    <div class="card-header ml-0 py-3 bg-dark  ">
        <div class="row ">
            
                <div class="col-12 text-center">
                    <h2 class="text-white py-2"> Product List</h2>
                </div>
         
           
        </div>
    </div>
    <div class="card-body p-4 ">
        <div class="row pb-3">

            <div class="col-6">
               
            </div>
            <div class="col-6 text-end ">
                <a class="btn btn-success" asp-controller="Product" asp-action="Upsert">
                    <i class="bi bi-plus-circle"></i> Create Product
                </a>
            </div>
        </div>

        <table id="tblData" class="table table-striped table-bordered w-100">
            <thead>
                <tr >
                    <th>
                        Title
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        ISBN
                    </th>
                  
                    <th>
                        ListPrice
                    </th>
                    <th>
                        Category
                    </th>
                  
                    <th>

                    </th>
                </tr>
            </thead>
            
 
            
        </table>
    </div>
</div>
@section Scripts {
    <script src="~/js/product.js"></script>
}
