
<div class="card shadow border-1 mt-4">
    <div class="card-header ml-0 py-3 bg-dark  ">
        <div class="row ">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2"> Order List</h2>
                </div>
        </div>
    </div>
    <div class="card-body p-4 ">
        <table id="tblData" class="table table-striped table-bordered w-100">
            <thead>
                <tr >
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        PhoneNumber
                    </th>

                    <th>
                        Email
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Total
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts {
    <script src="~/js/order.js"></script>
}
